[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu117"
verify_ssl = true
name = "downloadpytorch"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
ray = {extras = ["tune"], version = "*"}
hyperopt = "*"
importlib-resources = "*"
torch = {version = "*", index = "downloadpytorch"}
torchvision = {version = "*", index = "downloadpytorch"}
learn2learn = "*"

[dev-packages]

[requires]
python_full_version = "3.9.0"
